<% layout("/layouts/boilerplate.ejs") %>


<style>
 #filters{
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-size: 1.5rem;
  background-color: white !important;
 }
 .filter{
  margin-right: 2.5rem;
  color: black;
  opacity: 0.5;
  
 }
 #filters p{
  font-size: 0.8rem;
 }
 .filter:hover{
  opacity: 1;
  cursor: pointer;
 }
 .toggles{
  font-size: 1.1rem;
  border: 1px solid black;
  border-radius: 15px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.9rem;
  opacity: 0.7;
 }
.toggles:hover{
  opacity: 1;
  cursor: pointer;
}
 .collapse{
  background-color: white !important;
  z-index: 1;
  padding-bottom: 0 !important;
 }
 .taxinfo{
  display: none;
 }
 .collapse a{
  text-decoration: none;
 }


</style>


<body>
  <div id="filters">
  <div class="navbar navbar-expand-lg bg-body-white">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-circle-chevron-down"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">

          <a href="/listings/all">
    <div class="filter nav-item">
      <i class="fa-solid fa-earth-africa"></i>
            <p>All</p>
          </div> </a>  
          
          <a href="/listings/trending">
    <div  class="filter nav-item">
      <i class="fa-solid fa-fire"></i>
      <p>Trending</p>
    </div></a>

         <a href="/listings/room">
    <div class="filter nav-item">
      <i class="fa-solid fa-bed"></i>
      <p>Rooms</p>
    </div></a>

    <a href="/listings/iconic">
    <div class="filter nav-item">
      <i class="fa-solid fa-mountain-city"></i>
      <p>Iconic Cities</p>
    </div></a>

    <a href="/listings/mountain">
    <div class="filter nav-item">
      <i class="fa-solid fa-mountain-sun"></i>
      <p>Mountain</p>
    </div></a>

    <a href="/listings/castles">
    <div class="filter nav-item">
      <i class="fa-brands fa-fort-awesome"></i>
      <p>Castles</p>
    </div></a>

    <a href="/listings/pool">
    <div class="filter nav-item">
      <i class="fa-solid fa-person-swimming"></i>
      <p>Amazing Pool</p>
    </div></a>

    <a href="/listings/camp">
    <div class="filter nav-item">
      <i class="fa-solid fa-person-shelter"></i>
      <p>Camping</p>
    </div></a>

    <a href="/listings/farms">
    <div class="filter nav-item">
      <i class="fa-solid fa-tractor"></i>
      <p>Farms</p>
    </div></a>

    <a href="/listings/arctic">
    <div class="filter nav-item">
      <i class="fa-regular fa-snowflake"></i>
      <p>Arctic</p>
    </div></a>

    <a href="/listings/beach">
    <div class="filter nav-item">
      <i class="fa-solid fa-umbrella-beach"></i>
      <p>Beach</p>
    </div></a>
  </div>
  </div>
</div>
    <div class="toggles">
      <div class="form-check-reverse form-switch">
        <input class="form-check-input " type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label " for="flexSwitchCheckDefault">Display total before taxes</label>
      </div>
    </div>
  
  
</div>
    <div class="index_body">
    <!-- <h3>All Listing</h3> -->
    <!-- <form method="get" action="listings/new">
        <button>create new</button>
    </form> -->
    
    <div class=" row row-cols-lg-3 row-cols-md-2 row-cols-sm-1  ">
    <% for( list of alllisting){ %>
    <a class="listing_link" href="/listings/<%= list._id %>">
    <div class="card col card-listing ">
        <img src="<%= list.image.url %>" class="card-img-top" style="height: 20rem;" alt="<%= list.image.filename %>">
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text"><b>
            <%= list.title %></b> <br>
            &#x20B9;<%= list.price.toLocaleString("en-IN") %>/night
            <i class="taxinfo">+18% GST</i>
          </p>
        </div>
      </div>
      <% } %>
    </div></a>
</div>


<script>
  let taxbtn=document.getElementById("flexSwitchCheckDefault");
  let taxinfo=document.getElementsByClassName("taxinfo");
  taxbtn.addEventListener("click",()=>{
    for(info of taxinfo){
      if(info.style.display!="inline"){
      info.style.display="inline";
      }else{
        info.style.display="none";
      }
    }
  });
</script>

</body>
